@import '~bourbon-neat/core/_neat.scss';
@import '~handsontable/dist/handsontable.full.min.css';

$neat-grid: (
  columns: 18,
  gutter: 8px
);

.icon-spacing {
  margin-left: 8px;
  margin-right: 8px;
}

#app {
  @include grid-container;
}

.login-form {
  @include grid-column(12);
  @include grid-shift(3);
}

.header {
  margin-bottom: 8px;
}

.stats-items-edit {
  @include grid-column(14);
}

.stats-edit {
  @include grid-column(4);
}

.stats-info {
  margin-bottom: 8px;
}

