{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": true
  },
  "plugins": [
    "import",
    "react",
    "security"
  ],
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "experimentalObjectRestSpread": true
    }
  },
  "parser": "typescript-eslint-parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
  ],
  "rules": {
    "no-cond-assign": ["error", "always"],
    "no-console": "warn",
    "no-template-curly-in-string": "error",
    "no-unsafe-negation": "error",
    "valid-jsdoc": "error",
    "array-callback-return": "error",
    "consistent-return": "error",
    "default-case": "error",
    "dot-location": ["error", "property"],
    "no-div-regex": "error",
    "no-else-return": "error",
    "no-empty-function": ["error", { "allow": ["constructors"] }],
    "no-eq-null": "error",
    "no-floating-decimal": "error",
    "no-global-assign": "error",
    "no-implicit-coercion": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new-wrappers": "error",
    "no-param-reassign": ["error", { "props": true }],
    "no-return-await": "error",
    "no-script-url": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-void": "error",
    "no-with": "error",
    "require-await": "error",
    "wrap-iife": ["error", "outside"],
    "yoda": ["error", "never", { "exceptRange": true }],
    "strict": ["error", "never"],
    "init-declarations": ["error", "always"],
    "no-shadow": ["error", { "hoist": "functions", "allow": ["err"] }],
    "no-shadow-restricted-names": "error",
    "no-undef-init": "error",
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-use-before-define": ["error", { "classes": false }],
    "array-bracket-spacing": ["error", "never"],
    "block-spacing": ["error", "never"],
    "brace-style": ["error", "stroustrup"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "computed-property-spacing": ["error", "never"],
    "func-call-spacing": ["error", "never"],
    "func-style": ["error", "expression"],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "key-spacing": ["error", {"mode": "strict"}],
    "line-comment-position": ["error", { "position": "above" }],
    "linebreak-style": ["error", "unix"],
    "max-statements-per-line": ["error", { "max": 1 }],
    "no-bitwise": "error",
    "no-mixed-operators": "error",
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "no-nested-ternary": "error",
    "no-new-object": "error",
    "object-curly-newline": ["error", {
      "ObjectExpression": "always",
      "ObjectPattern": { "minProperties": 1 }
    }],
    "one-var": ["error", "never"],
    "quotes": ["error", "single"],
    "semi-spacing": "error",
    "semi": ["error", "always"],
    "space-in-parens": ["error", "never"],
    "arrow-body-style": ["error", "always"],
    "arrow-parens": ["error", "always"],
    "arrow-spacing": "error",
    "no-var": "error",
    "rest-spread-spacing": ["error", "never"],
    "symbol-description": "error",
    "template-curly-spacing": "error",
    "import/no-unresolved": "off",
    "react/no-children-prop": "error",
    "react/no-danger": "error",
    "react/no-did-update-set-state": "error",
    "react/no-set-state": "error",
    "react/prefer-es6-class": ["error", "always"],
    "react/prop-types": "off",
    "react/require-optimization": "error",
    "react/self-closing-comp": "error",
    "react/jsx-boolean-value": ["error", "always"],
    "react/jsx-closing-bracket-location": ["error", "line-aligned"],
    "react/jsx-curly-spacing": ["error", "never"],
    "react/jsx-equals-spacing": ["error", "never"],
    "react/jsx-first-prop-new-line": ["error", "multiline-multiprop"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-no-duplicate-props": "error",
    "react/jsx-wrap-multilines": "error",
    "no-multi-assign": "error",
    "prefer-promise-reject-errors": "error",
    "camelcase": ["error", {properties: "never"}],
    "space-before-blocks": "error",
  }
}
