@import '../../../node_modules/font-awesome/scss/font-awesome.scss';
@import '../../../node_modules/bourbon-neat/core/_neat.scss';
@import '../../../node_modules/handsontable/dist/handsontable.full.css';

$neat-grid: (
  columns: 18,
  gutter: 0px
);

#app {
  @include grid-container;
}

.login-form {
  @include grid-column(12);
  @include grid-shift(3);
}

.header {
  margin-bottom: 8px;
}
