@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../../node_modules/bourbon-neat/core/_neat.scss';
@import '../../../node_modules/handsontable/dist/handsontable.full.css';

$neat-grid: (
  columns: 18,
  gutter: 0px
);

#app {
  @include grid-container;
}

.login-form {
  @include grid-column(12);
  @include grid-shift(3);
}

.header {
  margin-bottom: 8px;
}

.stats-items-edit {
  @include grid-column(14);
  overflow-x: scroll;
}

.stats-edit {
  @include grid-column(4);
}

.stats-info {
  margin-bottom: 8px;
}

.icon-spacing {
  margin-left: 8px;
  margin-right: 8px;
}
