doctype html
html
  head
    title Veau
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='robots', content='noindex, nofollow, noarchive')
    link(rel='stylesheet', href='css/style.css')
  body
    div#app
    script(src='js/app.js', type='application/javascript')
